git+ssh://git@github.com/viaduct-ai/sparkmagic.git@ae2bbeb9b2ec90b32dbe3bcdff0b40f75edab0c6#egg=hdijupyterutils&subdirectory=hdijupyterutils
git+ssh://git@github.com/viaduct-ai/sparkmagic.git@ae2bbeb9b2ec90b32dbe3bcdff0b40f75edab0c6#egg=autovizwidget&subdirectory=autovizwidget
autovizwidget>0.6.0
ipython>=4.0.2
nose
mock
pandas>=0.17.1
numpy
requests
ipykernel>=4.2.2
ipywidgets>5.0.0
notebook>=4.2
tornado>=4
requests_kerberos>=0.8.0
